*{
    margin: 0;
    padding: 0;
}
html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align:center;
}
body{
    padding: min(50px,7%);
    background-color: black;
}
h1{
    margin: 30px 0;
}
.card{
    padding: 10px;
    border:1px solid gray;
    border-radius: 10px;
    background-color: #222429;
    text-align: center;
    margin: 2px;
}
.grid-container{
    display: grid;
    border: 1px solid red;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap:15px;
    justify-content: center;

}